.diagramContainer .toolbar {
    position: relative;
    z-index: 3;
    display: flex;
}

.hidden {
    display: none;
}

.toolbar .button {
    margin: 2px;
    padding-bottom: 2px;
}

.toolbar button .icon {
    width: 16px;
    height: 16px;
}

#mermaid-diagram {
    position: absolute;
    z-index: 1;
    width: 100%;
}
  
#drag-handle {
    cursor: move;
    z-index: 2;
}

.clickable .nodeLabel {
    text-decoration: underline;
}
