.diagramContainer .toolbar {
    position: relative;
    z-index: 3;
    display: flex;
}

.hidden {
    display: none;
}

.toolbar .button {
    margin: 2px;
    min-width: 18px;
    padding-bottom: 2px;
}

#mermaid-diagram {
    position: absolute;
    z-index: 1;
    width: 100%;
}
  
#drag-handle {
    cursor: move;
    z-index: 2;
 }

